{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}8bit @ UH Manoa{% endblock %}</title>
    
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Poppins:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    
    <!-- AOS Animation Library -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    
    <!-- Favicon -->
    <link
      rel="icon"
      type="image/x-icon"
      href="{% static 'main_app/assets/8bit-logo.webp' %}"
    />
    
    <!-- Styles -->
    <link rel="stylesheet" href="{% static '.css' %}" />
  </head>

  <body>
    
    {% include "learning/components/navbar.html" %}
    <div>
      {% block content %} 
      {% endblock %}
    </div>
    {% include "learning/components/footer.html" %}
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>
